@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

/* .nav-hero {
    display: flex;
    flex-direction: column;
    background-color: #0F0F10;
    color: #E6E6E6;
    height: 950px;
} */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 500px;
    background-color: #0F0F10;
    color: #E6E6E6;
}

nav .logo {
    height: 45px;
    cursor: pointer;
    transition: all 0.5s;
    /* position: absolute; */
    /* border-radius: 50%; */
}

.nav-right {
    display: flex;
    gap: 65px;
    justify-content: center;
    align-items: center;
}

.nav-right p {
    font-size: 19px;
    font-weight: 500;
}

.nav-right p:hover {
    color: #B52B2D;
    cursor: pointer;
}

.nav-right button {
    color: #E6E6E6;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #202428;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    left: 30px;
}

.nav-right button:hover {
    background-color: #B52B2D;
    color: #E6E6E6;
}

.nav-right button p {
    font-size: 18px;
    font-weight: 400;
}

.nav-right button img {
    height: 19px;
}

/* Hero Section */

.hero {
    display: flex;
    background-color: #0F0F10;
    color: #E6E6E6;
    display: flex;
    justify-content: center;
    height: 800px;
}

.hero-image {
    position: absolute;
    top: -140px;
    left: 25%;
    width: 360px;
    z-index: 2;
    /* transition: all ease-in-out 0.3s; */
    animation: float 2s ease-in-out infinite;
    transform-origin: top;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.hero .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* position: absolute; */
    position: relative;
    height: 30%;
    width: 30%;
    top: 30%;
    left: 15%;
    gap: 30px;
}

.hero .details h1 {
    font-size: 100px;
    font-weight: 600;
}

.hero .details h1:hover {
    color: #B52B2D;
}

.hero .details .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.hero .details .description h4 {
    font-size: 25px;
    font-weight: 600;
}

.hero .details p {
    width: 80%;
    color: #E6E6E6;
    font-size: 18px;
    line-height: 200%;
    font-weight: 200;
    /* border-top: 2px solid #E6E6E6; */
}

/* .hero img{
    position: absolute;
} */

.on-ear {
    position: absolute;
    height: 100px;
    top: 15%;
    right: 25%;
}

.add-to-bag {
    display: flex;
    background-color: #202428;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    /* height: 100px; */
    gap: 10px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
}

.add-to-bag img {
    height: 30px;
}

.add-to-bag button {
    background-color: transparent;
    color: #E6E6E6;
    font-size: 18px;
}

.add-to-bag h6 {
    font-size: 30px;
    font-weight: 700;
}

.add-to-bag:hover {
    background-color: #B52B2D;

}